<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" id="mbdb-styles-css" href="/media/style.css?ver=3.1.2" type="text/css" media="all">
        <link rel="stylesheet" id="mbdb-styles-css" href="/media/bootstrap.min.css?ver=3.1.2" type="text/css" media="all"> 
</head>
<body>
<div class="wrap">
<div class="content">
{% block content %}
{% endblock %}
</div>
</div>
</body>
</html>






