{% extends "taskapp/taskapp-base.html" %}

{% block body_main %}
<a href="/" id="site-scroll-top" class="show">
	<img src="/media/home.png" imgfiled="img" >
	<i class="fa fa-home fa-fw" aria-hidden="true">
	<span class="fa fa-chevron-up"></span>
</a>
  <div class="t-container  t-align_center  break-line">
    <div class="t-col t-col_10 t-prefix_1">
      <div class="t029__linewrapper" style="opacity:0.2;">
        <div class="t029__opacity t029__opacity_left" style="background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(right, #000000, rgba(0,0,0,0));"></div>
        <div class="t029__line" style="background: #000000;"></div>
        <div class="t029__opacity t029__opacity_right" style="background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, #000000, rgba(0,0,0,0));"></div>
      </div>
    </div>
  </div>
  
	<div class="task-content">
		{% block task_content %}
		{% endblock %}
	</div>

{% endblock %}
