<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>{% block tab_title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
        <link rel="stylesheet" id="mbdb-styles-css3" href="/media/tilda-grid-3.0.css" type="text/css" media="all"> 
        <link rel="stylesheet" id="mbdb-styles-css3" href="/media/tilda-blocks-2.6.css" type="text/css" media="all"> 
        <link rel="stylesheet" id="mbdb-styles-css2" href="/media/bootstrap.min.css?ver=3.1.2" type="text/css" media="all"> 
        <link rel="stylesheet" id="mbdb-styles-css1" href="/media/style.css?ver=3.1.2" type="text/css" media="all"> 
</head>
{% block body %}
{% endblock %}
</html>






