{% extends "taskapp/task-random.html" %}

{% block task_content %}
{% if task.image %}
	<div class="t-container t-align_center task-text-content">
	<div class="t-col t-col_6 ">
		<img src="{{task.image.url }}" imgfiled="img" class="t165__img ">
	</div>
	<div class="t-col t-col_6 t-align_left ">
		<div field="text" class="t-text t-text_md  ">
			<div class="task-number">Вопрос № {{task_option.number}}</div>
			<div class="task-text t-text-impact_xs">
			{{ task.text }}
			</div>
			<div class="btn-true-answer">
				<form method="post">
					{% csrf_token %}
						<div class="variants-list-wrap-with-image">
						<div class="variants-list">
						<ul>
							{% for variant in task_variants.all %}
    							<li>
    								<label for="variant-{{variant.id}}">
    									<input type="radio" id="variant-{{variant.id}}" name="choice" value="{{variant.id}}" required>
    									{{ variant.text }}
    								</label>
    							</li>
							{% endfor %}
						</ul>
						</div>
						</div>
					<input type="hidden" name="task_number" value="{{ task_option.number }}">
					<input class="btn btn-primary" type="submit" value="Проверить" />
				</form>
			</div>
		</div>
	</div>
	</div>
{%	else %}
	<div class="t-container t-align_center task-text-content">
	<div class="t-col t-col_10 t-prefix_1">
		<div field="text" class="t-text t-text_md  ">
			<div class="task-number">Вопрос № {{task_option.number}}</div>
			<div class="task-text t-text-impact_xs">
			{{ task.text }}
			</div>
			<div class="btn-true-answer">
				<form  method="post">
					{% csrf_token %}
						<div class="variants-list-wrap">
						<div class="variants-list">
						<ul>
							{% for variant in task_variants.all %}
    							<li>
    								<label for="variant-{{variant.id}}">
    									<input type="radio" id="variant-{{variant.id}}" name="choice" value="{{variant.id}}" required>
    									{{ variant.text }}
    								</label>
    							</li>
							{% endfor %}
						</ul>
						</div>
						</div>
					<input type="hidden" name="task_number" value="{{ task_option.number }}">
					<input class="btn btn-primary" type="submit" value="Проверить" />
				</form>
			</div>
		</div>
	</div>
	</div>
{% endif %}
{% endblock %}