{% extends "polls/base.html" %}
{% block title %}
Math task
{% endblock %}
{% block content %}
<h1>Random task (demo): </h1>
{% if task %}
    <h4>№{{ task.id }}. Вопрос: {{ task.task_text }}</h4>
{% else %}
    <p>No cases are available.</p>
{% endif %}
{%	if task.task_img_link %}
<img src="{{ task.task_img_link }}" alt="My image"/><br>
{%	endif	%}
{%	if task.image %}
{% load static %}
<img src="{{ task.image.url }}" alt="My image"/><br>
{%	endif	%}
<h4>Варианты ответа:</h4>
<form action="/result/" method="post">
{% csrf_token %}
{% for var in task.variant.all %}
    <input type="radio" name="choice" id="choice{{ var.id }}" value="{{ var.id }}" />
    <label for="choice{{ var.id }}">{{ var }}</label><br />
{% endfor %}
<br>
<input type="hidden" name="task_id" value="{{ task.id }}">
<input class="btn btn-primary" type="submit" value="Проверить" />
</form><br>
<a href="/" class="btn btn-default" >Другой вопрос</a>
{% endblock %}







